# M2468 stock-compatible entries; order is bootloader-visible.
  page_size=4096

m2468-overlay-00.dtbo
  id=0
  rev=0
  custom0=0
  custom1=0
  custom2=0
  custom3=0

m2468-overlay-01.dtbo
  id=0
  rev=0
  custom0=0
  custom1=0
  custom2=0
  custom3=0

m2468-overlay-02.dtbo
  id=0
  rev=0
  custom0=0
  custom1=0
  custom2=0
  custom3=0

m2468-overlay-03.dtbo
  id=0
  rev=0
  custom0=0
  custom1=0
  custom2=0
  custom3=0

m2468-overlay-04.dtbo
  id=0
  rev=0
  custom0=0
  custom1=0
  custom2=0
  custom3=0
